# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [2]:
# Import the file and print the first 5 row
df = pd.read_csv("Data/Zipcode_Demos.csv", skiprows=47) 
df.head()
df = df.drop(columns=["47"]) # get rid of the extra column left over from key column

In [3]:
# Print the last 5 rows of df
df.tail()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
5,10006,6,2,0.33,4,0.67,0,0,6,100,...,6,100,0,0.0,6,1.0,0,0,6,100
6,10007,1,0,0.00,1,1.00,0,0,1,100,...,1,100,1,1.0,0,0.0,0,0,1,100
7,10009,2,0,0.00,2,1.00,0,0,2,100,...,2,100,0,0.0,2,1.0,0,0,2,100
8,10010,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
9,10011,3,2,0.67,1,0.33,0,0,3,100,...,3,100,0,0.0,3,1.0,0,0,3,100

In [4]:
# What is going on with this data set? Anything unusual?

# this data appears to be two different parts on the same spreadsheet/csv
# line 47 looks like the header for the bottom section which is the raw data

# the top section looks to be just averages of all of the raw data on bottom.  I ignored that data

In [5]:
# Clean up the dataset
# I tried to clean it on the read_csv() above
# I skiplined top half of data with read_csv() and started with named columns on bottom half of spreadsheet
# I also skipped the 1st column which contained an extra key number

df

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100
5,10006,6,2,0.33,4,0.67,0,0,6,100,...,6,100,0,0.00,6,1.00,0,0,6,100
6,10007,1,0,0.00,1,1.00,0,0,1,100,...,1,100,1,1.00,0,0.00,0,0,1,100
7,10009,2,0,0.00,2,1.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100
8,10010,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
9,10011,3,2,0.67,1,0.33,0,0,3,100,...,3,100,0,0.00,3,1.00,0,0,3,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [27]:
# Hint: Here's a useful programming pattern to use
# df = pd.read_csv("Data/Yelp_Reviews_corrupt.csv")

f = open("Data/Yelp_Reviews_corrupt.csv")

count = 0
for line in f:
    count += 1

print("There are", count, "lines in the corrupt file.")

to_skip = [0]

header = pd.read_csv("Data/Yelp_Reviews_corrupt.csv", nrows=1)


for i in range(1000):
    try:
        df = pd.read_csv("Data/Yelp_Reviews_corrupt.csv", skiprows=to_skip, nrows=i)
    except Exception as e:
        print(e, "Failed on line {}".format(i))
        to_skip.append(i)
        
len(header.columns)
header
df
# print(len(to_skip), "corrupt lines")

There are 6109 lines in the corrupt file.

,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.1,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atleast once a week. The portions are huge! Food is amazing. I love their carne asada. They have great lunch specials... Leticia is super nice and cares about what you think of her restaurant. You have to try their cheese enchiladas too the sauce is different And amazing!!!,0.2,msQe1u7Z_XuqjGoqhB0J5g
0,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
1,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
2,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0.0,pfavA0hr3nyqO61oupj-lA,1.0,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
3,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0.0,STiFMww2z31siPY7BWNC2g,5.0,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg
4,11,UBv8heCQR0RPnUQG0zkXIQ,0,2016-09-23,0.0,HkYqGb0Gplmmk-xlHTRBoA,1.0,The score should be negative. Its HORRIBLE. Th...,0.0,NhOc64RsrTT1Dls50yYW8g
...,...,...,...,...,...,...,...,...,...,...
994,2277,C9ImzBi5fn742ZcAYDww2A,0,2014-07-07,0.0,KFWFY7nn9iFc2QYYFjFTsQ,5.0,One of my favorite breakfast spots the have po...,0.0,8bFE3u1dMoYXkS7ORqlssw
995,2278,At2bqa8emnEr5WNIosi0ow,2,2014-08-22,1.0,l_ZQ3Tf6u7wFaRkz4yFvXg,5.0,We had the best breakfast we've had in a long ...,3.0,8bFE3u1dMoYXkS7ORqlssw
996,2280,YJ8ljUhLsz6CtT_2ORNFmg,0,2014-07-07,0.0,Au7MG4QlAxqq9meyKSQmaw,5.0,So my boyfriend and I came here for my birthda...,0.0,8bFE3u1dMoYXkS7ORqlssw
997,2281,OWiKC7bjIvc7L2iIuBsHxw,0,2014-07-07,0.0,CJmrdo3Kq4WYyBc5Izatgw,4.0,My boyfriend and I come here all the time and ...,0.0,8bFE3u1dMoYXkS7ORqlssw
998,2284,IE7sVOweBucNusO3jhrEpw,0,2015-01-08,0.0,rdA_qsewahc0uvsFkfdCOg,5.0,This place is amazing they are super nice love...,0.0,8bFE3u1dMoYXkS7ORqlssw

## Summary

Congratulations, you now practiced your Pandas-importing skills!

The code for the corrupt file builds a list of corrupt rows by iterating through each line of the csv file, and attempting to open it.  

This is likely a very inefficent way to pull the data, but it did work.